<!doctype html>

<html>
	<link rel="stylesheet" href="https://unpkg.com/mirotone/dist/styles.css">
  <body>
    <h1>Your Meeting Analysis</h1>
		<div class="grid">
<!-- tabs -->
		<div class="tabs">
			<div class="tabs-header-list">
				<div tabindex="0" class="tab tab-active">
					<div class="tab-text tab-badge">Meeting Positivity</div>
				</div>
				<div tabindex="0" class="tab">
					<div class="tab-text tab-badge">Meeting Activity</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <embed type="text/html" src="file.html" width="500">-->
<!-- assets -->
	<div class="cs1 ce12 placeholder"></div>
	<div class="cs1 ce12 placeholder"></div>
	<div class="cs1 ce12 placeholder"></div>
</div>
  </body>
</html>
